@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones {
    margin-top: v.$separacion;
    @include m.tablet {
        display: flex; //Para que los ponga uno al lado del otro
        justify-content: space-between;
        align-items: center;
    }

    a {
        color: v.$blanco;
        display: block; //Para forzar al cambio de linea
        margin-bottom: calc(v.$separacion / 2);
        text-align: center;
    }    
}